/* Page margin and padding reset*/
*{
    margin: 0;
    padding: 0;
}

/*body and background format*/
body{
    background-color: #e8e4fc;
    display: flex;
    flex-flow: column wrap;
    min-height: 100vh;
    background-image: url(./images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100% 437px;
    justify-content: center;
    align-content: center;
    font-family: 'Red Hat Display', sans-serif;
} 

/*card container format*/
.card{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    width: 450px;
    height: 697px;
    border-radius: 20px;
    border-style: solid 2px black;
    margin: 102px 495px;
    background-color: white;
    
}

/*card content format*/

.card img{
    width: 450px;
    height: 220px;
    border-radius: 20px 20px 0px 0px;
}

h1{
    margin: 45px 48px 0px 48px;
    color: #1F2E55;
    font-size: 28px;
   
}

.desc{
    font-size: 16px;
    line-height: 26px;
    margin: 17px 50px 0px 50px;
    font-weight: 500;
    text-align: center;
    
}

/*plan choice part*/
.choice{
    width: 354px;
    height: 98px;
    margin: 20px 48px 0 48px;
    background-color: #F7F9FF;
    border-radius: 11px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.choice img{
    height: 48px;
    width: 48px;
    margin-left: 24px;
}

.plan{
    color: #717FA6;
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    width: 92px;
    margin-left: 20px;
}

#annual{
    color: #1F2E55;
    font-size: 16px;
    font-weight: 900;
}

.change{
    color: #382AE1;
    font-size: 14px;
    font-weight: 700;
    margin-left: 94px;
}

/*change animation*/
.change:hover{
    color: #766CF1;
    text-decoration: none;
    transition: color 200ms;
}

/*payment button*/
.payment{
    width: 354px;
    height: 50px;
    background-color: #382AE1;
    color: white;
    text-align: center;
    border-radius: 11px;
    border: none;
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
    margin: 32px 48px 0px 48px;
    font-size: 15px;
    font-weight: 900;
    text-decoration: none;
}

/*payment button animation*/

.payment:hover{
    background-color:#766CF1;
}
/*cancel link*/
.cancel{
    font-size: 15px;
    color:#717FA6;
    margin: 32px 48px 0px 48px;
    text-decoration: none;
}

/*cancel link animation*/
.cancel:hover{
    color:#1F2E55
}

/*footer and creator */
footer { 
    font-size: 11px; 
    text-align: center; 
    
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 600px) {
    body{
        background-image: url(.images\pattern-background-mobile.svg);
        background-repeat: no-repeat;
        background-size: 100% 190px;
    }

}
